/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: lightslategray;padding: 0;}

.mat-dialog-container-custom > mat-dialog-container{
    padding:0;
}

#open{
    position: absolute;
    border:none;
    background: transparent;
    right:0;
    bottom: 0;
}